/* ======================= Global Button ======================= */
.btn {
    --btn-bg: var(--color-bg);
    --btn-bg-hover: var(--color-bg-dark);
    --btn-text: var(--color-text);
    background: var(--btn-bg);
    color: var(--btn-text);
    font-size: var(--fz-md);
    padding: 10px 15px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition:
        background .2s ease-in,
        color .2s ease-in,
        box-shadow .2s ease-in-out,
        scale .1s ease;
    z-index: 0;
}

.btn:hover {
    background: var(--btn-bg-hover);
    box-shadow: 0 0 5px rgba(233, 233, 233, 0.4);
}

.btn:active {
    scale: 0.98;
}

/* ======================= Variants ======================= */
.btn--primary {
    --btn-bg: var(--color-primary);
    --btn-bg-hover: var(--color-primary-dark);
    --btn-text: var(--color-bg);
}

.btn--secondary {
    --btn-bg: var(--color-secondary);
    --btn-bg-hover: var(--color-secondary-dark);
    --btn-text: var(--color-bg);
}

.btn--dark {
    --btn-bg: var(--color-text);
    --btn-bg-hover: var(--color-text-light);
    --btn-text: var(--color-bg);
}

/* ======================= Pill button ======================= */
.btn--pill {
    border-radius: var(--bdrs-round);
}




/* ======================= Action button ======================= */





/* ======================= Button effect ======================= */


