.input {
    border: 1px solid var(--color-text-light);
    color: var(--color-text);
    background: var(--color-bg);
    padding: 5px;
    border-radius: 3px;
}
.label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    user-select: none;
}

/* ======================= Pill input ======================= */
.input--pill {
    border-radius: var(--bdrs-form--input);
    border: 1px solid var(--color-primary);
}