:root {
    /* Color */
    --color-primary: #56DF9F;
    --color-primary-light: #a8f3d0;
    --color-primary-dark: rgb(33, 219, 132);
    --color-secondary: #007BFF;
    --color-secondary-dark: #005fc5;
    --color-bg: #F6F5FB;
    --color-bg-dark: #e9e9e9;
    --color-text: #333;
    --color-text-light: #494949;

    /* Typography */
    
    /* Font Family */
    --ff-base: Inter, sans-serif;

    /* Font size */
    --fz-xxl: 4.8rem;
    --fz-xl: 3.2rem;
    --fz-lg: 2rem;
    --fz-md: 1.6rem;
    --fz-sm: 1.4rem;
    --fz-xs: 1.2rem;

    /* Font weight */
    --fw-light: 200;
    --fw-regular: 500;
    --fw-bold: 900;

    /* Border radius */
    --bdrs-round: 50px;

    /* Layout Spacing */
    --layout-padding-x: 50px;
    --layout-padding-y: 100px;

    /* Specific variables CARD */
    --bdrs-card: 5px; 
    --color-bg-card: #333;
    --pd-card: 2.5rem ;
    
    /* Specific variables FORM */
    --bdrs-form--input: 40px;
    --bdrs-form--btn: 36px;
    --bdrs-form--image: 29px;

    
}


@media screen and (max-width: 425px) {
      :root {
    --layout-padding-x: 24px;
    --layout-padding-y: 50px;
  }
}